$edit-font-size: 1.5rem;
$msg-theme-color: #607D8B;
@import "./components/Nav/_NavContainer.scss";
@import "./components/Chat/_Chat";

.App {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    height: 100%;
    width: 100%;
    position: fixed;
}

.btn-normal {
    // margin: 1rem;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #ffffff;
    background: #1abc9c;
    padding: 0.5rem 1rem;
    text-decoration: none;

    &:hover {
        background: #16a085;
        text-decoration: none;
    }

    &:active {
        position: relative;
        top: 1px;
    }
}

.btn-dangerous {
    @extend .btn-normal;
    background: #e74c3c;

    &:hover {
        background: #c0392b;
    }
}
